<div class="row">
    <div class="col-4">
        <div class="card-box">
            <div class="card-box-front">
                <img src="assets/img/kontrola.png" alt="">
                <h5>Kontrola</h5>
            </div>
            <div class="card-box-back">
                <h5>Kontrola</h5>
                <p>
                    zgromadzna w content hubie wiedza sprzyja algorytmom wyszukiwarek i jest promowana w wynikach
                    wyszukiwania.
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-box">
            <div class="card-box-front">
                <img src="assets/img/leady.png" alt="">
                <h5>Lead</h5>
            </div>
            <div class="card-box-back">
                <h5>Lead</h5>
                <p>
                    zgromadzna w content hubie wiedza sprzyja algorytmom wyszukiwarek i jest promowana w wynikach
                    wyszukiwania.
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-box">
            <div class="card-box-front">
                <img src="assets/img/kontrola.png" alt="">
                <h5>Lorem ipsum</h5>
            </div>
            <div class="card-box-back">
                <h5>Lorem ipsum</h5>
                <p>
                    zgromadzna w content hubie wiedza sprzyja algorytmom wyszukiwarek i jest promowana w wynikach
                    wyszukiwania.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="card-box">
            <div class="card-box-front">
                <img src="assets/img/kontrola.png" alt="">
                <h5>Kontrola</h5>
            </div>
            <div class="card-box-back">
                <h5>Kontrola</h5>
                <p>
                    zgromadzna w content hubie wiedza sprzyja algorytmom wyszukiwarek i jest promowana w wynikach
                    wyszukiwania.
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-box">
            <div class="card-box-front">
                <img src="assets/img/leady.png" alt="">
                <h5>Lead</h5>
            </div>
            <div class="card-box-back">
                <h5>Lead</h5>
                <p>
                    zgromadzna w content hubie wiedza sprzyja algorytmom wyszukiwarek i jest promowana w wynikach
                    wyszukiwania.
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-box">
            <div class="card-box-front">
                <img src="assets/img/kontrola.png" alt="">
                <h5>Lorem ipsum</h5>
            </div>
            <div class="card-box-back">
                <h5>Lorem ipsum</h5>
                <p>
                    zgromadzna w content hubie wiedza sprzyja algorytmom wyszukiwarek i jest promowana w wynikach
                    wyszukiwania.
                </p>
            </div>
        </div>
    </div>
</div>